/* Add these styles to your CSS or use styled-components */
.smallMenuItem {
  width: 100px; /* Set the desired width */
  height: 30px; /* Set the desired height */
}

.mediumMenuItem {
  width: 150px;
  height: 40px;
}

.largeMenuItem {
  width: 150px;
  height: 180px;
}
